@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light&display=swap');

/*Nav bar and brand-logo*/


nav .brand-logo {
    color: white;
    font-family: Shadows Into Light, sans-serif;
    font-size: 30px;
    font-weight: 600;
    
}

.side-nav {
    padding-left: 0 !important;
    padding-top: 20px;
}

nav ul a {
    font-family: Shadows Into Light, sans-serif;
    font-size:15px;
    font-weight: 400;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

/*header, body*/

html, body {
    background-image: url("../static/images/sliced-prawns.jpg");
    background-size: cover;
    width: auto;
    height: 100%;
    margin: 0;
    font-weight: bold;
}

h3 {
    color: red;
    text-transform: uppercase; 
    text-align: center;
    font-family: Shadows Into Light, sans-serif;
    font-weight: 600;
}

h4 {
    color: red;
    text-transform: uppercase; 
    font-family: Shadows Into Light, sans-serif;
    font-weight: 600;
}

.main-container {
    min-height: 100vh;
    flex: 1 0 auto;
}

/*button*/

.btn {
    width: 100px;
    padding: 0 1rem;
}

/*view page*/

ul , ol {
    color: white;
    font-family: Shadows Into Light, sans-serif;
    font-size: 25px;
}

.recipe_name, 
.cuisine,
.ingredients,
.cooking_steps {
    font-size: 30px;
    text-transform: uppercase;
    color: red;
}

.recipe_name span, 
.cuisine span,
.ingredients span,
.cooking_steps span{
    text-transform: capitalize;
    color: #fafafa;
    
}

/*to overwrite styles in materialize css- in view recipe*/

#ing li {
    list-style: square !important;
}

ul:not(.browser-default) {
    padding-left: 50px;
}

/*footer*/

.page-footer {
    padding-bottom: 1px;
    padding-left: 0px;
    border-radius: 5px 5px 5px 5px;
    font-family: Dancing Script, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 375px) {
  nav .brand-logo {
    font-size: 20px;
  }
  .view {
    font-size: 20px;
  }
  ul:not(.browser-default) {
    padding-left: 40px;
  }
}

/*@media only screen and (max-width: 767px) {*/
/*      .btn-xl {*/
/*          font-size: 0.8rem;*/
/*          padding: 1rem 2rem;*/
/*      }*/
/*      .logo {*/
/*          height: 50px;*/
/*      }*/
/*  }*/