@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

/*Nav bar and brand-logo*/


nav .brand-logo {
    color: white;
    font-family: Overlock, sans-serif;
    font-size: 30px;
    font-weight: 600;
    
}

nav ul a {
    font-family: Overlock, sans-serif;
    font-size:15px;
    font-weight: 400;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

/*header, body*/

html, body {
    background-image: url("../static/images/sliced-prawns.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: bold;
}

h3 {
    color: red;
    text-transform: uppercase; 
    text-align: center;
    font-family: Overlock;
    font-weight: 600;
}

h4 {
    color: red;
    text-transform: uppercase; 
    font-family: Overlock;
    font-weight: 600;
}

.main-container {
    min-height: 100vh;
    flex: 1 0 auto;
}


/*view page*/

ul , ol {
    color: white;
    font-family: Overlock, sans-serif;
    font-size: large;
    font-weight: 500;
}

.recipe_name, 
.cuisine,
.ingredients,
.cooking_steps {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: red;
}

.recipe_name span, 
.cuisine span,
.ingredients span,
.cooking_steps span{
    text-transform: capitalize;
    color: #fafafa;
    
}

#ing li {
    list-style: square !important;
}

.page-footer {
    padding-bottom: 1px;
    padding-left: 0px;
    border-radius: 5px 5px 5px 5px;
    font-family: Dancing Script, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 436px) {
  nav .brand-logo {
    font: 10px;
  }
}