html, body {
    background-image: url("../static/images/carrots-food-fresh-freshness.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
  padding-top: 10px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

/* FILTER*/

.select-wrapper {
    color: #F8F4F1;
}

.select-wrapper span.caret {
    color:silver;
}

.selectCuisine {
    width: 100%;
    height:120px;
}

.selectCuisine .select-wrapper {
    margin-right: 20px;
}

.filter-btn {
    padding: 10px;
}

.btn-large{
    padding: 0px 10px 0px 10px;
    background-color: #9a2c0b;
    margin-bottom: 10px;
    -moz-border-radius: 5px 10px 5px 10px;
    -webkit-border-radius: 5px 10px 5px 10px;
    -o-border-radius: 5px 10px 5px 10px;
    border-radius:5px 10px 5px 10px;
    
}

#footer {
    line-height: 25px;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
    background-color:grey;
    color:white;
}