@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html, body {
    background-image: url("../static/images/carrots-food-fresh-freshness.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}


.wrapper {
  padding-top: 10px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}


.page-footer {
    padding-bottom: 1px;
    padding-left: 0px;
    border-radius: 5px 5px 5px 5px;
    font-family: Dancing Script, sans-serif;
    font-size: 15px;
    font-weight: 500;
}