<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Sharing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" type="text/css" >
    
</head>
<body>
 
 <header>
 <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('get_recipes') }}" class="brand-logo">Recipe Sharing</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('category_search') }}"><i class="material-icons left">view_list</i>Search by Cuisine</a></li>
        <li><a href="{{ url_for('get_recipes') }}"><i class="material-icons left">home</i>All Recipes</a></li>
        <li><a href="{{ url_for('add_recipes') }}"><i class="material-icons left">add</i>Add Recipe</a></li>
      </ul>

      <ul class="side-nav red lighten-3" id="mobile-demo">
        <li><a href="{{ url_for('category_search') }}"><i class="material-icons left">view_list</i>Search by Cuisine</a></li>
        <li><a href="{{ url_for('get_recipes') }}"><i class="material-icons left">home</i>All Recipes</a></li>
        <li><a href="{{ url_for('add_recipes') }}"><i class="material-icons left">add</i>Add Recipe</a></li>
      </ul> 
    </div>
  </nav>
</header>

<div class="container">
  <main class="main-container">
  {% block content %}

  {% endblock %}
  </main>
</div>


<!--FOOTER STARTS HERE-->
<footer>
    <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 center">
          © 2019 Rachael Loh
        </div>
      </div>
    </div>
    </div>
  </footer>

    
<!-- SCRIPT -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
      $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('select').material_select();
      });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>


