<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Sharing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Dancing+Script|Signika+Negative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css" type="text/css" />


</head>
<body>
    
<!--NAVBAR SECTION-->
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-light pt-0 pb-0" style="background-color: #FFE5E7
;">
  <a class="navbar-brand" href="index.html">RECIPE SHARING</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="catSearch.html"><i class="fa fa-th-list"></i> Search By Category</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="index.html"><i class="fa fa-fw fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add.html"><i class="fa fa-plus-circle"></i> Add Recipe</a>
      </li>
    </ul>
  </div>
</nav>


<!--FOOTER STARTS HERE-->
<footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3" id= 'footer'>© 2019 Rachael Loh
            
        </div>
        
</footer>
    
<!-- SCRIPT -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

</body>
</html>