{% extends 'index.html'%} {% block content %}

<body>
  <div class="wrapper">
<h4>All Recipes</h4>

 <table>
        <thead>
          <tr>
              <th>Recipe Name</th>
              <th>Cuisine</th>
              
              <th>Edit/Delete</th>
          </tr>
        </thead>
{% for recipe in recipe %}
        <tbody>
          <tr>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.category_name}}</td>
            
            <td><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small turqoise lighten-2">Edit</a><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a></td>
            <td><a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small light-green lighten-1">View</a></td>
          </tr>

        {% endfor %}
  
        </tbody>
</table>
</body>

{% endblock %}