{% extends 'index.html' %} {% block content %} 


<div class="row">
    <div class="col-sm-12">
        <h1>All Recipes</h1>
        
        <form novalidate class="selectCuisine" action=" " method= "POST"> 
            {{ form.cuisine(class="col-xs-6 col-sm-6") }}
            <button class="btn-large waves-effect waves-light col-xs-2 col-m-3 col-l-4 filter-btn" type="submit" name="action">Filter Recipe
                <i class="material-icons right">filter_list</i>
            </button>
            
        </form>
    </div>
    
</div>

{% endblock %}