{% extends 'index.html' %} {% block content %} 

<h2 class="view_recipe">View Recipe</h2>
<div class="row">
    <div class="col s12 m12 l12">

        <ul>

            {% for recipe in recipe %} 
            

            <li class="recipe_name"> Recipe Name: <span>{{recipe.recipe_name}}</span> </li>
            <li class="cuisine"> Cuisine: <span>{{recipe.category_name}}</span> </li>


            <li class="ingredients">
                Ingredients:
                <ol>
                    {% for ingredients in ingredients %}
                    <li><span> {{recipe.ingredients}} </span></li>
                    {% endfor %}
                </ol>
            </li>
            <li class="cooking_steps">
                Cooking Steps:
                <ol>
                    {% for steps in cooking_steps %}
                    <li><span> {{recipe.cooking_steps}} </span></li>
                    {% endfor %}
                </ol>
            </li>



            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}