{% extends 'index.html' %} {% block content %} 

<h3 class="view_recipe">View Recipe</h3>
<div class="row">
    <div class="col s12 m12 l12">

        <ul>

            {% for recipe in recipe %} 
            

            <li class="recipe_name"> Recipe Name: <span>{{recipe.recipe_name}}</span> </li>
            <li class="cuisine"> Cuisine: <span>{{recipe.category_name}}</span> </li>


            <li class="ingredients">
                Ingredients:
                <ol>
                    {% for i in recipe.ingredients.split("\n") %}
                    <li><span> {{i}} </span></li>
                    {% endfor %}
                </ol>
            </li>
            <li class="cooking_steps">
                Cooking Steps:
                <ol>
                    {% for step in recipe.cooking_steps.split(";") %}
                    <li><span> {{step}} </span></li>
                    {% endfor %}
                </ol>
            </li>



            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}